<!DOCTYPE html>
<html lang="en">
  <head>
    <title>contact</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <div class="my-4">
        <h4>Create New Contact</h4>
        <form
          class="row gx-3 gy-2 align-items-center"
          method="POST"
          action="/contacts"
        >
          <div class="col-sm-3">
            <input
              type="text"
              class="form-control <%= error.name ? 'is-invalid' : '' %>"
              placeholder="Name"
              name="name"
              id="validationServer02"
            />
            <div class="invalid-feedback"><%= error.name %></div>
          </div>

          <div class="col-sm-3">
            <input
              type="text"
              class="form-control <%= error.phone ? 'is-invalid' : '' %>" 
              placeholder="PhoneNumber"
              name="phone"
            />
            <div class="invalid-feedback"> <%= error.phone %> </div>
          </div>

          <div class="col-sm-3">
            <div class="input-group">
              <div class="input-group-text">@</div>
              <input
                type="email"
                class="form-control <%= error.email ? 'is-invalid' : '' %>" 
                id="specificSizeInputGroupUsername"
                placeholder="Email"
                name="email"
              />
              <div class="invalid-feedback"> <%= error.email %> </div>
            </div>
          </div>

          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

          <div class="col-auto">
            <input
              type="hidden"
              class="form-control"
              placeholder="PhoneNumber"
              name="id"
            />
            <!-- <button type="submit" class="btn btn-primary">Reset</button> -->
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <h4 class="my-4">YOUR CONTACT</h4>
      <table class="table my-4">
        <thead>
          <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let contact of contacts){ %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.email %></td>
            <td>
              <button class="btn btn-outline-warning">Edit</button>
              <a
                href="/delete/<%= contact._id %>"
                class="btn btn-danger btn-sm"
                >Delete</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
